* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  --background: white;
  --sec-color: grey;
  --icon: black;
  --text-backgroud: red;
}

body.dark {
  --background: grey;
  --sec-color: black;
  --icon: white;
  --text-backgroud: black;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  background-color: var(--background);
}

.header i {
  color: var(--icon);
}

.header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header .header_left .dark-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: red;
}

.header .header_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_center h1 {
  color: var(--icon);
}

.header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header_two p {
  color: black;
  cursor: pointer;
}

.header_two .new {
  padding: 5px;
}

.header_two .new p {
  position: relative;
}

.header_two .new .whats-new {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 100;
}

.header_two .new .whats-new li {
  width: 80%;
  margin: auto;
}

.header_two .new .whats-new h3 {
  width: 80%;
  margin: auto;
}

.header_two .new p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: black;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.header_two .new p:hover::after {
  left: 0;
  width: 100%;
}

.header_two .new:hover .whats-new {
  display: block;
}

.header_two .product p {
  position: relative;
}

.header_two .product .product-new {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 100;
}

.header_two .product .product-new li {
  width: 80%;
  margin: auto;
}

.header_two .product .product-new h3 {
  width: 80%;
  margin: auto;
}

.header_two .product p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: black;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.header_two .product p:hover::after {
  left: 0;
  width: 100%;
}

.header_two .product:hover .product-new {
  display: block;
}

.header_two .value p {
  position: relative;
}

.header_two .value .value-new {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 100;
}

.header_two .value .value-new li {
  width: 80%;
  margin: auto;
}

.header_two .value .value-new h3 {
  width: 80%;
  margin: auto;
}

.header_two .value p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: black;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.header_two .value p:hover::after {
  left: 0;
  width: 100%;
}

.header_two .value:hover .value-new {
  display: block;
}

.text {
  text-align: center;
  background-color: var(--text-backgroud);
  color: var(--icon);
}
/*# sourceMappingURL=kowshik.css.map */