* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;


}

body {

    --background: white;
    --sec-color: grey;
    --icon: black;
    --text-backgroud: red;


}

body.dark {
    --background: grey;
    --sec-color: black;
    --icon: white;
    --text-backgroud: black;

}


.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    background-color: var(--background);

    i {
        color: var(--icon);
    }



    .header_left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;


        .dark-mode{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            background-color: red;
        }

    }

    .header_center {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: var(--icon);
        }
    }


    .header_right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
    }
}

.header_two {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    

    // background-color: var(--sec-color);
    p {
        color: black;
        cursor: pointer;
        // padding: 5px;
    }

    .new {
        // background-color: red;
        padding: 5px;



        p {
            position: relative;
        }

        .whats-new {
            position: absolute;

            left: 0;

            width: 100%;
            // background-color: rgb(225, 19, 19);
            display: none;
            transition: .3s;
            // padding: 1em;
            line-height: 40px;
            transition: all .5s;
            z-index: 100;


            li {
                width: 80%;
                margin: auto;
            }

            h3 {
                width: 80%;
                margin: auto;
            }

        }




    }



    .new p::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: 1px;
        background-color: black;
        transition: 0.4s ease-out;
    }

    .new p:hover::after {
        left: 0;
        width: 100%;
    }

    .new:hover .whats-new {
        display: block;

    }

    .product{

        p {
            position: relative;
        }

        .product-new{
            position: absolute;

            left: 0;

            width: 100%;
            
            display: none;
            transition: .3s;
            // padding: 1em;
            line-height: 40px;
            transition: all .5s;
            z-index: 100;


            li {
                width: 80%;
                margin: auto;
            }

            h3 {
                width: 80%;
                margin: auto;
            }


        }
    }

    .product p::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: 1px;
        background-color: black;
        transition: 0.4s ease-out;
    }

    .product p:hover::after {
        left: 0;
        width: 100%;
    }

    .product:hover .product-new {
        display: block;

    }


    .value{

        p {
            position: relative;
        }

        .value-new{
            position: absolute;

            left: 0;

            width: 100%;
            
            display: none;
            transition: .3s;
            // padding: 1em;
            line-height: 40px;
            transition: all .5s;
            z-index: 100;


            li {
                width: 80%;
                margin: auto;
            }

            h3 {
                width: 80%;
                margin: auto;
            }


        }
    }

    .value p::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: 1px;
        background-color: black;
        transition: 0.4s ease-out;
    }

    .value p:hover::after {
        left: 0;
        width: 100%;
    }

    .value:hover .value-new {
        display: block;

    }







}

.text {
    text-align: center;
    background-color: var(--text-backgroud);
    color: var(--icon);
}